/*
 * Gallery v1
 * ali.md/wd
 */

@charset "UTF-8";

html,body,div.container, div.gallery{
	height:100%; /* only for this sample */
}

body{
	background-color : #001;
}

div.container{
	width  : 950px;
	margin : 20px auto;
}

div.gallery{
	
}
div.gallery a{
	position: absolute;
	left : 10px; /* start animation point */
	top  : -200px;
	display : block;
	border  : solid white;
	border-width  : 4px 4px 20px 4px;
	z-index: 0;
}

div.gallery img{
	width  :120px; /* for netschool performance */
	height :auto;
	display : block;
}

div.gallery a:hover{
	z-index :2;
	opacity : 0.98;
}

div.gallery a p{
	position: absolute;
	z-index: 200;
	background-color: #fff;
	color: green;
	display: none;
}
